body{background-color: pink;}
	h1{color: red; text-align: center;}
	h2{color: magenta;}
	p{
		font-family: "times new roman";
		font-size: 18px;
		text-decoration: underline;
		text-decoration-color: grey;